* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto,sans-serif;
    width: 100%;
}

.hero-one{
    height: 45vh;
    background: #1F2937;
    padding: 16px 250px;
    display: flex;
    flex-direction: column;
    gap: 108px;
}

header{
    display: flex;
    justify-content: space-between;
}

header > p{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    font-size: 18px;
    color: #e5e7eb
}

ul{
    list-style-type: none;
    display: flex;
    gap: 18px
}

a{
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header-one-main{
    display: flex;
    justify-content: space-between;
    height: 30vh;
    flex-direction: column;
    width: 100%;

}

.header-one-main h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-right: 800px;
    
}
.content-container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    justify-content: center; /* Center content horizontally */
    gap: 20px; /* Space between text and image */
}

.text-container {
    display: flex;
    flex-direction: column; /* Stack paragraph and button vertically */
    align-items: flex-start; /* Align text and button to the left */
    max-width: 50%; /* Limit the width of the text container */
}

.text-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px; /* Add spacing below the paragraph */
    margin-right: 250px; 
}

#image {
    width: 900px;
    height: 250px;
    background-color: #606060;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    margin-left: 100px;
    position: relative;
    top: -100px;
}

.sign-up button {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 12px 36px;
    font-size: 18px;
    font-weight: 700;
    border: none;
}